<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FABA</title>
  </head>
  <body>
    <div id="intro">
      <p>Develop as an apprentice, in your own way!</p>
      <div id="buttons">
        <a id="login" href="/auth/google">Login</a>
        <a id="signup" href="/auth/google">Sign Up</a>
      </div>
    </div>
    <div class="page_summary">
      <div class="image">
        <img
          id="laptop_image"
          src="/images/laptop.png"
          alt="Laptop With Code"
        />
      </div>
      <p class="main_header">
        Everything you need to become a successful Apprentice
      </p>
      <p class="headers">
        Challenge yourself with quizzes and find useful resources that are
        tailored to you!
      </p>
    </div>
    <div class="display">
      <div class="row">
        <div class="column">
          <h4>What?</h4>
          <p>For Apprentices By Apprentices... We want to allow users to share
            resources that were helpful to them, and also have the freedom to
            share their own work and knowledge to gain credibility or to simply
            help others.</p>
        </div>
        <div class="column">
          <h4>Why?</h4>
          <p>We aspire to share our knowledge and experience to upcoming
            apprentices to ensure they have the same or even better experience
            that we had.</p>
        </div>
        <div class="column">
          <h4>Column 3</h4>
          <p>Some text..</p>
        </div>
      </div>
    </div>
  </body>
</html>