body {
  background-color: white;
  color: black;
}

.dark_mode {
  background-color: black;
  color: white;
}
#intro {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-top: 10px;
  border-left: 10px;
  border-right: 10px;
  border-width: 2px;
  border-color: black;
  padding: 10px;
}

#buttons {
  display: flex;
  justify-content: space-between;
}

.modified_btn {
  border-block-color: black;
}

.page_summary {
  display: flex;
  margin: 60px;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.headers {
  display: flex;
  justify-content: center;
  align-content: center;
}

#laptop_image {
  max-width: 10%;
}

.image {
  display: flex;
  justify-content: center;
}

.column {
  float: left;
  width: 31%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
